html,
body,
.game {
  height: 100%;
  width: 100%;
}

body {
  opacity: 0;
  -moz-transition: opacity, 1s;
  -o-transition: opacity, 1s;
  -webkit-transition: opacity, 1s;
  transition: opacity, 1s;
  background-color: #b99f82;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}
body.loaded {
  opacity: 1;
}

.game {
  position: relative;
  padding: 40px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.game .puzzle-solution {
  position: relative;
  border: 7px solid transparent;
  background: #fff;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7) inset, 0px 0px 15px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7) inset, 0px 0px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7) inset, 0px 0px 15px rgba(0, 0, 0, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.game .puzzle-spot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px double #d0d0d0;
  display: inline-block;
  vertical-align: top;
}
.game .puzzle-item {
  position: absolute;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 2 !important;
}
.game .puzzle-item.ui-state-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1 !important;
}
.game .puzzle-item.ui-draggable-dragging {
  z-index: 3 !important;
}
.game .puzzle-item.game-complete {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.game .well-done {
  display: table;
  font-size: 100px;
  font-weight: bold;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  letter-spacing: -4px;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9;
}
.game .well-done span {
  display: table-cell;
  vertical-align: middle;
}
