html,
body {
  height: 100%;
  width: 100%;
}

body {
  -moz-transition: opacity, 1s;
  -o-transition: opacity, 1s;
  -webkit-transition: opacity, 1s;
  transition: opacity, 1s;
  background-color: #b99f82;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
  text-align: center;
  opacity: 0;
}
body.loaded {
  opacity: 1;
}

form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  font-size: 15px;
  color: #f0eae4;
  font-weight: bold;
  background: #333;
  -moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
}
form .title {
  font-family: 'Rancho', cursive;
  font-size: 36px;
  line-height: 40px;
  vertical-align: middle;
  margin: 0 20px;
  font-style: italic;
  cursor: pointer;
}
form .title:active {
  color: #ccc;
}
form .rand {
  margin-left: 15px;
  font-size: 34px;
  cursor: pointer;
  line-height: 34px;
  vertical-align: middle;
}
form .rand:active {
  color: #ccc;
}

input {
  padding: 3px 6px;
  margin: 10px 15px 10px 0;
  font-size: 14px;
  color: #f0eae4;
  background: #444;
  border: none;
}
input[type="text"] {
  width: 200px;
}
input[type="number"] {
  width: 30px;
}
input#zoom {
  width: 40px;
  margin-right: 0;
}

#game {
  margin-top: 40px;
}

.share {
  position: fixed;
  bottom: 0;
  right: 10%;
  margin-left: -300px;
  z-index: 9;
  width: 280px;
  font-size: 15px;
  color: #f0eae4;
  font-weight: bold;
  background: #333;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px;
  border-radius: 6px 0 0 0;
  -moz-box-shadow: 0 0 13px #333333;
  -webkit-box-shadow: 0 0 13px #333333;
  box-shadow: 0 0 13px #333333;
}
.share:hover {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.share .fb-like,
.share .twitter-share-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 8px;
}
.share input {
  margin: 8px 10px;
  font-size: 12px;
  width: 160px;
}
.share .fb-like {
  min-width: 108px;
}
.share .credit {
  font-weight: normal;
  padding: 3px 0;
  background: #222;
  font-size: 12px;
}
.share .credit a {
  color: crimson;
  text-decoration: none;
}
.share:before {
  content: "SHARE THIS";
  font-family: 'Rancho', cursive;
  font-size: 26px;
  position: absolute;
  bottom: 100%;
  right: 0;
  background: #333;
  padding: 3px 6px;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 0 0;
  -moz-box-shadow: 0 0 13px #333333;
  -webkit-box-shadow: 0 0 13px #333333;
  box-shadow: 0 0 13px #333333;
}
