
/////////////////////////
//    Puzzle game
/////////////////////////

@import "compass";

$baseColor: #B99F82;

@mixin stripes($color: $baseColor) {
  background-color: $color;
  background-image: linear-gradient(90deg, rgba(#fff,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(#fff,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(#fff,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(#fff,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include transition(opacity, 1s);
  @include stripes;
  text-align: center;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  font-size: 15px;
  color: lighten($baseColor, 30%);
  font-weight: bold;
  background: #333;
  @include box-shadow(0 0 13px rgba(#000, .8));
  .title {
    font-family: 'Rancho', cursive;
    font-size: 36px;
    line-height: 40px;
    vertical-align: middle;
    margin: 0 30px;
    font-style: italic;
  }
}

input {
  padding: 3px 6px;
  margin: 10px 20px 10px 0;
  font-size: 14px;
  color: lighten($baseColor, 30%);
  background: #444;
  border: none;
  &[type="text"] {
    width: 240px;
  }
  &[type="number"] {
    width: 30px;
  }
}

#game {
  margin-top: 3%;
}

.share {
  position: fixed;
  bottom: 0;
  right: 10%;
  margin-left: -300px;
  z-index: 9;
  width: 280px;
  font-size: 15px;
  color: lighten($baseColor, 30%);
  font-weight: bold;
  background: #333;
  @include transition(all, .4s);
  @include transform(translateY(100%));
  @include border-radius(6px 0 0 0);
  @include box-shadow(0 0 13px #333);
  &:hover {
    @include transform(translateY(0));
  }
  .fb-like,
  .twitter-share-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 8px;
  }
  input {
    margin: 8px 10px;
    font-size: 12px;
    width: 160px;
  }
  .fb-like {
    min-width: 108px;
  }
  &:before {
    content: "SHARE THIS";
    font-family: 'Rancho', cursive;
    font-size: 26px;
    position: absolute;
    bottom: 100%;
    right: 0;
    background: #333;
    padding: 3px 6px;
    @include border-radius(6px 6px 0 0);
    @include box-shadow(0 0 13px #333);
  }
}
