
/////////////////////////
//    Puzzle game
/////////////////////////

@import "compass";

$baseColor: #B99F82;

@mixin stripes($color: $baseColor) {
  background-color: $color;
  background-image: linear-gradient(90deg, rgba(#fff,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(#fff,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(#fff,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(#fff,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include transition(opacity, 1s);
  @include stripes;
  text-align: center;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  font-size: 15px;
  color: lighten($baseColor, 30%);
  font-weight: bold;
  background: #333;
  @include box-shadow(0 0 13px rgba(#000, .8));
  .title {
    font-family: 'Rancho', cursive;
    font-size: 36px;
    line-height: 40px;
    vertical-align: middle;
    margin: 0 20px;
    font-style: italic;
    cursor: pointer;
    &:active {
      color: #ccc;
    }
    @media (max-width: 960px) {
      float: left;
    }
    @media (max-width: 400px) {
      font-size: 30px;
    }
  }
  .rand {
    margin-left: 15px;
    font-size: 34px;
    cursor: pointer;
    line-height: 40px;
    vertical-align: middle;
    &:active {
      color: #ccc;
    }
    @media (max-width: 960px) {
      float: right;
      margin-right: 50px;
    }
  }
}

input {
  padding: 3px 6px;
  margin: 10px 15px 10px 0;
  font-size: 14px;
  color: lighten($baseColor, 30%);
  background: #444;
  border: none;
  &[type="text"] {
    width: 200px;
    @media (max-width: 960px) {
      width: 160px;
    }
  }
  &[type="number"] {
    width: 30px;
  }
  &#zoom {
    width: 40px;
    margin-right: 0;
  }
}

.mobile-collpase {
  display: inline-block;
}
.mobile-toggle {
  display: none;
}
@media (max-width: 960px) {
  .mobile-collpase {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 260px;
    padding: 0 5px 5px 20px;
    background: #555;
    @include transition(all, .4s);
    @include box-shadow(-4px 0 8px #333);
    @include border-radius(0 0 6px 0);
    @include transform(translateX(-100%));
    &.visible {
      @include transform(translateX(0));
    }
  }
  .mobile-toggle {
    z-index: 99;
    display: block;
    font-size: 40px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background: #555;
    color: #fff;
    text-decoration: none;
  }
}

#game {
  margin-top: 40px;
}

.share {
  position: fixed;
  bottom: 0;
  right: 10%;
  z-index: 9;
  width: 280px;
  font-size: 15px;
  color: lighten($baseColor, 30%);
  font-weight: bold;
  background: #333;
  @include transition(all, .4s);
  @include transform(translateY(100%));
  @include border-radius(6px 0 0 0);
  @include box-shadow(0 0 13px #333);
  &:hover,
  &:focus {
    @include transform(translateY(0));
  }
  .fb-like,
  .twitter-share-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 8px;
  }
  input {
    margin: 8px 10px;
    font-size: 12px;
    width: 160px;
  }
  .fb-like {
    min-width: 108px;
  }
  .credit {
    font-weight: normal;
    padding: 3px 0;
    background: #222;
    font-size: 12px;
    a {
      color: crimson;
      text-decoration: none;
    }
  }
  &:before {
    content: "SHARE THIS";
    font-family: 'Rancho', cursive;
    font-size: 26px;
    position: absolute;
    bottom: 100%;
    right: 0;
    background: #333;
    padding: 3px 6px;
    @include border-radius(6px 6px 0 0);
    @include box-shadow(0 0 13px #333);
  }
}
